@import "../../Styles/Variables.scss";

.service-box {
    @include flex-column-center;
    width: 90vw;
    height: auto;
    margin-bottom: 10%;
    h3 {
        @include standard-font();
        font-size: $font-mid;
    }
    .service-box_small-img-container {
        width: 70%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
