$fontMainColorLight: #FFFFFF;
$darkBlue: #003963;
// $midBlue: #008ec5;
$midBlue: #005AA2;
// $midBlue: #004298;
$lightBlue: #4bc4f1;
$yellow: #FCD037;
$darkYellow: #f0b400;
// $midYellow: #fcca0c;
// $lightYellow: #f9e07e;
$lightGray: #e5e5e5;

$font-small: .8rem;
$font-regular: 1rem;
$font-mid: 1.5rem;
$font-big: 2.4rem;

$shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
$radius: 1.5rem;

@mixin fancy-font ($weight:400){
  font-family: cheap-pine-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin standard-font ($weight:400, $style:normal){
  font-family: nunito-sans, sans-serif;
  font-weight: $weight;
  font-style: $style;
}

@mixin standard-font-light ($weight:200, $style:italic){
  font-family: nunito-sans, sans-serif;
  font-weight: $weight;
  font-style: $style;
}

@mixin cross-btn ($color: #003963){
  visibility: visible;
  opacity: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: $color;
  height: 2.5rem;
  width: 2.5rem;
  svg {
    height: 100%;
    width: 100%;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// PADDINGS AND MARGINS
@mixin section ($height: auto, $width: 90%) {
  overflow-x: hidden;
  @include standard-font();
  padding: 10% 5%;
  height: $height;
  width: $width;
  @include for-tablet-portrait-up {
    padding: 5% 5%;
  }
}

@mixin flex-column-center($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }

@mixin hide-animation() {
    z-index: 9999;
    transform: translateX(0vw);
    transition: .6s ease-out;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

.margin-top {margin-top: 5%;}

.hiddenToRight {
  transform: translateX(100vw);
  left: 100vw;
  transition: .6s ease-in;
}
// STANDARD ELEMENTS
  .button-standard {
    @include standard-font();
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: $radius;
    border-style: none;
    box-shadow: $shadow;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: block;
    margin-left:  auto;
    margin-right: auto;
    fill: currentcolor;
    font-size: 14px;
    font-weight: 500;
    height: 2rem;
    width: fit-content;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    overflow: visible;
    padding: 2px 15px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform,opacity;
  
    &:hover {
      background: #F6F9FE;
      color: #174ea6;
    }
    
    &:active {
      outline: none;
    }
    
    &:focus {
      outline: none;
      border: 2px solid $lightBlue;
    }
    
    &:not(:disabled) {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    &:not(:disabled):hover {
      box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
    }
    
    &:not(:disabled):focus {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    &:not(:disabled):active {
      box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
    }
    
    &:disabled {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
  }

  input, textarea {
    @include standard-font();
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      @include standard-font();
    }
    &::-moz-placeholder { /* Firefox 19+ */
      @include standard-font();
    }
    &:-ms-input-placeholder { /* IE 10+ */
      @include standard-font();
    }
    &:-moz-placeholder { /* Firefox 18- */
      @include standard-font();
    }
  }

