$fontMainColorLight: #FFFFFF;
$darkBlue: #000082;
$midBlue: #1642BF;
$lightBlue: #116DD2;
$darkYellow: #f0b400;
$midYellow: #fcca0c;
$lightYellow: #f9e07e;

$font-small: .8rem;
$font-regular: 1rem;
$font-mid: 1.5rem;
$font-big: 2.4rem;

// PADDINGS AND MARGINS
$padding_1-05rem: 1rem .5rem ;

@mixin flex-column-center($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }