$fontMainColorLight: #FFFFFF;
$darkBlue: #000082;
$midBlue: #1642BF;
$lightBlue: #116DD2;
$darkYellow: #f0b400;
$midYellow: #fcca0c;
$lightYellow: #f9e07e;

$font-small: .8rem;
$font-regular: 1rem;
$font-mid: 1.5rem;
$font-big: 2.4rem;
$shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

// PADDINGS AND MARGINS
@mixin section($padding: 5% 5%, $height: auto, $width: 90%) {
  padding: $padding;
  height: $height;
  width: $width;
}

@mixin flex-column-center($direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }

@mixin hide-animation() {
    z-index: 9999;
    transform: translateX(0vw);
    transition: .6s ease-out;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

.hidden{
    transform: translateX(100vw);
    left: 100vw;
    transition: .6s ease-in;
  }

// STANDARD ELEMENTS
  .button-standard {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 1.5rem;
    border-style: none;
    box-shadow: $shadow;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 2rem;
    max-width: 100%;
    width: auto;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    overflow: visible;
    padding: 2px 15px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform,opacity;
    // z-index: 0;
  
    :hover {
      background: #F6F9FE;
      color: #174ea6;
    }
    
    :active {
    //   box-shadow: 0 4px 4px 0 rgb(60 64 67 .3), 0 8px 12px 6px rgb(60 64 67 .15);
      outline: none;
    }
    
    :focus {
      outline: none;
      border: 2px solid $lightBlue;
    }
    
    :not(:disabled) {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    :not(:disabled):hover {
      box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
    }
    
    :not(:disabled):focus {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
    
    :not(:disabled):active {
      box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
    }
    
    :disabled {
      box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
    }
  
  }