@import "../../Styles/Variables.scss";

* {
    background-color: $white;
}
.home-container {
    @include flex-column-center($justify: space-evenly); 
    padding: $page-padding;
    // padding-top: 10vh;
    height: auto;
    
}

.section-home-intro {
    @include flex-column-center($justify: space-evenly); 
    width: 100vw;
    font-weight: 500;
    font-family: Saira;
    color: $midYellow;
    div {  
        @include flex-column-center; 
        h1 {
            font-size: $font-big;
            margin-top: 0%;
            margin-bottom: 10%;
            text-align: center;
        }
    }
    button {
        background-color: white;
        font-size: $font-regular;
        border-radius: 20px;
        outline: none;
        border: none;
        padding: 2%;
        text-transform: uppercase;
    }
}

.badges-section {
    height: fit-content;
    h6 {
        margin-top: 0%;
        margin-bottom: 5%;
        // color: white;
        width: 80%;
        margin-right: auto;
        margin-left: auto; 
        text-align: center;
    }
}

.badges {
    padding: 5% 0%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    div {
        background-color: $midYellow;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.5rem;
        padding: 2%;
        border-radius: 50%;
        img {
            background-color: transparent;
            width: 80%;
            height: 80%;
            border: none;
            outline: none;
        }
    }
}
.section-benefits {
    @include flex-column-center;
    padding-left: 0%;
    margin-left: 0%;
    // background-color: brown;
}
.benefits-list {
    @include flex-column-center($align: flex-start);

    height: auto;
    padding-left: 0%;
    margin-left: 0%;
    li {
        @include flex-column-center($direction: row, $justify: flex-start);
        width: 100%;
        height: auto;
        padding-left: 0%;
        margin-left: 0%;
        .benefits-list_img-wrapper{
            padding: 0% 5%;
        }
        .benefits-list_text {
            padding: 0% 1%;
            margin-bottom: 2%;
            width: 90%;
            border: 2px white solid;
            border-radius: 18px;
            text-align: center;
        }
    }
}
.services-btn{
 border: none;
 outline: none;
 background-color: transparent;
 color: $lightYellow;   
}

.brands {
    @include flex-column-center;
    background-color: aqua;
    height: auto;
    width: 100%;
}





