@import "../../Styles/Variables.scss";

.home-container {
    @include flex-column-center($justify: space-evenly); 
    @include standard-font();
    background-color: $lightGray;
    .section-home-intro {
        @include flex-column-center($justify: space-evenly);
        @include fancy-font(); 
        color: $lightGray;
        background-color: $darkBlue;
        padding-top: 6.5vh;
        height: 60vh;
        width: 100%;
        background-image: url('../../Images/backgrounds/SL.jpg');
        // background-image: url('../../Images/backgrounds/waves.jpg');
        background-position-x: 30%;
        // background-image: url("../../Images/backgrounds/part-male-construction-worker_small.jpg");
        background-size: cover;
        // background-position: center;
        .section-home-intro-text{  
            @include flex-column-center(); 
            color: $yellow;
            h1 {
               font-size: 4rem;
               padding: 0%;
               margin: 0%;
            }
            h3{
                padding-top: 5%;
                margin: 0%;
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
    }
}


/* CSS */
.sc-button {
  @include standard-font(); 
  padding: 0.6em 2em;
  border: none;
  -webkit-appearance: none;
  outline: none;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: $radius;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:before {
    content: "";
    // background-color: red;
    // background: linear-gradient( 45deg,#ff7300, $yellow, #48ff00, $darkBlue, #00ffd5, #ff7300 ); 
    // background: linear-gradient( 45deg,#ff7300, $yellow, #48ff00, $darkBlue, #00ffd5, #ff7300 ); 
    // background: linear-gradient( 45deg,#ff7300, $yellow, #48ff00, $darkBlue, #00ffd5, #ff7300 ); 
    // background: linear-gradient( 45deg,#ff7300, $yellow, #48ff00, $darkBlue, #00ffd5, #ff7300 ); 

    background-color: #ff7300; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient( 45deg,#ff7300, $yellow, #48ff00, $darkBlue, #00ffd5, #ff7300 );  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image: -moz-linear-gradient( 45deg,#ff7300, $yellow, #48ff00, $darkBlue, #00ffd5, #ff7300 );  /* For Firefox (3.6 to 15) */
    background-image: -o-linear-gradient( 45deg,#ff7300, $yellow, #48ff00, $darkBlue, #00ffd5, #ff7300 ); /* For old Opera (11.1 to 12.0) */ 
    background-image: linear-gradient( 45deg,#ff7300, $yellow, #48ff00, $darkBlue, #00ffd5, #ff7300 );  /* Standard syntax; must be last */
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    // filter: blur(5px);
    // -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-sc-button 10s linear infinite;
    transition: opacity 10s ease-in-out;
    border-radius: $radius;
  }
  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $yellow;
    left: 0;
    top: 0;
    border: none;
    outline: none;
    border-radius: 24px;
  }
}

@keyframes glowing-sc-button {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 400% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}


section.badges {
    @include section();
    background-color: $yellow;
    position: relative;
    z-index: 100;
    h3 {
        @include standard-font-light();
        margin-top: 0%;
        margin-bottom: 5%;
        width: 80%;
        margin-right: auto;
        margin-left: auto; 
        text-align: center;
    }
    .badges-container {
        padding: 5% 0%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        div {
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2.5rem;
            width: 2.5rem;
            padding: 2%;
            border-radius: 50%;
            img {
                background-color: transparent;
                width: 80%;
                height: 80%;
                border: none;
                outline: none;
            }
        }
    }
}

section.section-benefits {
    @include flex-column-center;
    @include section();
    background-color: $yellow;
    color: $darkBlue;
    position: relative;
    z-index: 100;
    .benefits-list {
        @include flex-column-center($align: flex-start);
        height: auto;
        padding-left: 0%;
        margin-left: 0%;
        li {
            @include flex-column-center();
            width: 100%;
            height: auto;
            padding-left: 0%;
            margin-left: 0%;
            .benefits-list_img-wrapper{
                display: block;
                height: 4rem;
                width: auto;
                padding: 0% 5%;
                img {
                    width: auto;
                    height: 100%;
                }
            }
            .benefits-list_text {
                padding: 0% 1%;
                margin-bottom: 2%;
                width: 90%;
                text-align: center;
            }
        }
    }
}


.services-btn{
 border: none;
 outline: none;
 background-color: transparent;
 color: $yellow;
}

section h2 {
    @include fancy-font();
    font-size: $font-big;
    padding: 3% 0%;
    text-align: center;
}

section.howItWorks {
    @include flex-column-center;
    height: auto;
    width: 100%;
    background-image: url('../../Images/backgrounds/part-male-construction-worker_small.webp');
    background-size: cover;
    background-position-x: 35%;
    // &::before { 
    //     content: '';
    //     height: 100%;
    //     // padding: 50% 0%;
    //     position: absolute;
    //     z-index: 999;
    //     top: 96%;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     background-color: #e66465;
    //     opacity: .6;
    //     // background-color: #00ffd5;
    // }
    h2 {
        color: $yellow;
    }
    .howItWorks_content { 
        width: 90%;
        > div {
            @include flex-column-center;
            color: $yellow;
            padding-bottom: 10%;
            .headerHIW {
                padding: 5% 0%;
                font-weight: 700;
                font-size: $font-mid;
                text-transform: uppercase;
            }
            .numberHIW{
                @include fancy-font();
                display: inline-block;
                width: 60px;
                line-height: 60px;
                font-size: 44px;
                background-color: $midBlue;
                font-weight: 700 !important;
                border-radius: 50px;
                color: white;
                text-align: center;
                margin-bottom: 0rem;
                
            }
            .textHIW {
                color: #fff;
                display: inline;
                text-align: center;
                margin: 0%;
                padding: 0%;
            }
        }
        
    }
}

section.services{
    @include flex-column-center;
    @include section();
}

section.testimonials{
    @include section();
    background-color: $midBlue;
    padding-bottom: 15%;
    div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: space-between;
        align-content: space-between
    }
    h2 {
        color: #fff;
        font-weight: 900;
    }
    .button-standard{
        margin-top: 25%; 
        margin-bottom: 5%;
        text-transform: uppercase
    }
}
section.blog {
    @include section();
    background-color: $yellow;
}
section.brands {
    @include section();
    background-color: $lightGray;
}

section.timetable {
    @include section();
    padding: 20% 0%;
    table {
        @include standard-font();
        border-radius: $radius;
        background-color:  $yellow;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        thead {
            tr {
            font-weight: 600;
            }
        }
        th, td {
            text-align: left;
            padding: 5%;
        }
        tbody {
            @include standard-font();
        }
      }
}

section.prices {
    @include section();
    margin: 0%;
    padding-top: 8vh;
    .prices-container {
        @include flex-column-center;
       .prices-container_item{
        width: 100%;
        height: fit-content;
        margin-bottom: 5%;
        padding-bottom: 2%;
        border-bottom: $midBlue 1px solid;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        // div:first-child{
             
        // }
        .prices-container_item-price {
            @include flex-column-center();
            .prices-container_item-number{
                font-size: $font-mid;
                color: $midBlue;
            }
            .prices-container_item-text{
                @include standard-font-light();
                font-size: $font-small;
            }
            p{
                margin: 0%;
            }
        }
       }
    }
}


section.contacts {
    @include section();
    background-color: $midBlue;
    color: white;
    .contacts-address p {
        margin-top: 1.5rem;
    }
    .contacts-contact{
        margin-top: 2.5rem;
    }
    a {
        display: block;
        text-decoration: none;
        color: white;
    }
    .contacts-button {
        margin-top: 15%;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

