@import "../../Styles/Variables.scss";

// tablet
@media screen and (min-width: 600px) {
    .sc-button {
        font-size: 1.3rem;
    }
    section h2 {
        // font-size: $font-big;
        font-size: 3rem;
    }
    //INTRO SECTION
    .home-container {
        .section-home-intro {
            height: 70vh;
            background-image: url("../../Images/backgrounds/bb1024_120kb.webp");
            .section-home-intro-text{  
                h1 {
                   font-size: 5rem;
                }
                h3{
                    font-size: 2rem;
                }
            }
        }
    }

    section.badges {
        @include flex-column-center();
        height: 20vh;
        overflow-y: hidden;
        position: relative;
        z-index: 99;
        // background-color: chartreuse;
        .badges-container {
            width: 60%;
            padding: 2% 0%;
            div {
                height: 2.5rem;
                width: 2.5rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }

        }
        h3 {
            font-size: $font-regular;
            // margin: 0%;
        }
    }
    // HOW IT WORKS section 
    section.howItWorks {
        .howItWorks_content { 
            > div {
                .headerHIW {
                    font-size: 1.4rem;
                }
                .textHIW {
                    font-size: $font-mid;
                }
            }
            
        }
    }

    section.section-benefits {
        position: relative;
        z-index: 99;
        .benefits-list {
            li {
                .benefits-list_text {
                    h3{
                        font-size: 1.8rem;
                    }
                    p{
                        font-size: $font-mid;
                    }
                   
                }
            }
        }
    }

    //SERVICES
    section.services{
        .services-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: flex-start;
            .service-box {
                box-sizing: border-box;
                text-align: center;
                width: 30vw;
                height: auto;
                margin-bottom: 5%;
                .service-box_small-img-container {
                    width: 80%;
                }
            }
        }
    }

    //TESTIMONIALS
    section.testimonials {
        padding-bottom: 15%;
        div {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: space-between;
            align-content: space-between
        }
        .button-standard{
            margin-top: 10%; 
            text-transform: uppercase
        }
    }
}

@media screen and (min-width: 1024px) {
    section.howItWorks {
        @include flex-column-center;
        height: 50vh;
        padding: 10% 0%;
        width: 100%;
        background-image: url('../../Images/backgrounds/darkBG.webp');

        h2 {
            color: $yellow;
            margin: 0%;
            padding: 0%;
            padding-bottom: 3rem;
        }
        .howItWorks_content { 
            width: 100%;
            > div {
                background-color: none;
                @include flex-column-center;
                color: $yellow;
                // background-color: aqua;
                // margin: 0%;
                padding: 0%;
                padding-bottom: 2rem;
                .headerHIW {
                    font-weight: 700;
                    font-size: $font-regular;
                    text-transform: uppercase;
                    margin: 0%;
                    padding: 0%;
                }
                .numberHIW{
                    @include fancy-font();
                    display: inline-block;
                    margin-bottom: 1rem;
                    width: 60px;
                    font-size: 44px;
                    background-color: $midBlue;
                    font-weight: 700 !important;
                    border-radius: 50px;
                    color: white;
                    text-align: center;
                }
                .textHIW {
                    width:50%;
                    font-size: $font-regular;
                    color: #fff;
                    display: inline;
                    text-align: center;
                    margin: 0%;
                    padding: 0%;
                }
            }
        }
    }

    section.section-benefits {
        @include flex-column-center;
        @include section($height: 60vh);
        background-color: $yellow;
        color: $darkBlue;
        
        .benefits-list {
            @include flex-column-center($direction: row);
            height: auto;
            padding-left: 0%;
            margin-left: 0%;
            li {
                @include flex-column-center();
                width: 30%;
                height: auto;
                padding-left: 0%;
                margin-left: 0%;
                .benefits-list_img-wrapper{
                    // display: block;
                    // height: 4rem;
                    width: auto;
                    padding: 0% 5%;
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
                .benefits-list_text {
                    padding: 0% 1%;
                    width: 90%;
                    text-align: center;
                }
            }
        }
    }
}