@import "../../Styles/Variables.scss";

.brands-wrapper {
    height: 20vh;
    display: flex;
    flex-flow: column wrap;
    overflow-x: auto;
    scrollbar-color: #8f54a0 #ffffff;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    // background-color: #8f54a0;
    
  }
  
  ::-webkit-scrollbar-track {
    background-color: darkgrey;
  }

  .slider {
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .brand-img-container {
    margin-right: 3%;
  }
  