@import "../../Styles/Variables.scss";

section.manage-testimonials {
    padding: 10vh 5vw 5vh;
    #comment {
        border-radius: 1.5rem;
        padding: 3%;
        margin-bottom: 2%;
    }
    .approved { background-color: rgb(146, 230, 146)}
    .deleted { background-color: rgb(250, 148, 148)}
    .pending { background-color: rgb(252, 252, 96); }
}

.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    button {
        margin-left: 5%;
    }
}