@import "../../Styles/Variables.scss";

  .schedule-call-container {
    @include flex-column-center($align: space-between, $justify: space-evenly); 
    @include hide-animation();
    @include section($height: 100%);
    max-height: 100vh;
    position: fixed;
    background-color: $lightGray;
    .sc-header {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      h2 {
        text-transform: uppercase;
        color:#000;
        align-self: center;
        @include fancy-font();
        font-size: $font-big;
      }
      .sc-btn { 
        @include cross-btn($color: $midBlue);
        // justify-self: flex-end;
      }
    }
    .sc-wrapper {
      height: 90%;
      width: 100%;
      @include flex-column-center($justify: space-evenly); 
        .sc-form {
          @include flex-column-center($justify: space-evenly, $align: space-between); 
          width: 100%;
          height: 70%;
          font-size: $font-regular;
          div {
            width: 100%;
            .form-control__phone {
              display: flex;
              flex-flow: row wrap;
              justify-content: space-between;
              align-items: baseline;
              margin: 1% 0%;
              border-radius: .5rem;
              border-style: none;
              width: 90%;
              padding: 5%;
              background-color: #000;
              color: #fff;
              letter-spacing: 1px;
              input {
                width: 80%;
                border-radius: .5rem;
                border-style: none;
                padding: 5%;
                color: #000;
                letter-spacing: 1px;
              }
            }
            .form-control {
              margin: 1% 0%;
              border-radius: .5rem;
              border-style: none;
              width: 90%;
              padding: 5%;
              background-color: #000;
              color: #fff;
              letter-spacing: 1px;

            }
            .form-control__message{
              height: 4rem;
            }
        }
        .button-standard {
          width: fit-content;
          margin-top: 1%;
          margin-left: auto;
          margin-right: auto;
          background-color: $yellow;
        }
      }
      /* INFORNATION DIV */
      .sc-info-container{
        @include flex-column-center(); 
        background-color: $yellow;
        border-radius: $radius; 
        color: black;
        
        width: 90%;
        padding: 5%;
        .sc__contacts {
          @include flex-column-center(); 
          a {
            margin-top: 2%;
            text-decoration: none;
            color: $darkBlue;
          }
          
        }
        .sc__address{
          @include flex-column-center(); 
          color: #000;
          margin-bottom: 3%;
          p {
            font-size: $font-regular;
            margin: 0%;
          }
        }
      }
  }
  }