@import '~@draft-js-plugins/inline-toolbar/lib/plugin.css';

.create-post_container {
  padding: 5% 1rem;
  .sc-form {
    padding: 16px;
    background-color: rgb(248, 243, 85);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    .create-post_container-btns {
      display: inline-flex;
      justify-content: center;
      button {
        margin-bottom: 1rem;
      }
    }
    textarea {
      border-radius: 1rem;
      padding: 6px;
      margin-bottom: 1rem;
    }
    input{
      margin-bottom: 1rem;
    }
    div {
      margin-bottom: 1rem;
    }
  }
}

.editor {
    border-radius: 1rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
    min-height: 40vh;
    height: auto;
    width: 100%;
    cursor: text;
    padding: 16px;
    margin-bottom: 2rem;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #e5e5e5;
  }
  
  .DraftEditor-editorContainer{
    // background: transparent;
    border-radius: 1rem;
  }
  
  .editor :global(.public-DraftEditor-content) {
    min-height: 140px;
  }
  
  .headlineButtonWrapper {
    display: inline-block;
  }
  
  .headlineButton {
    background: #fbfbfb;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;
  }
  
  .headlineButton:hover,
  .headlineButton:focus {
    background: transparent;
  }