@import "../../Styles/Variables.scss";

.nav-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
        h3{
            color: $midYellow;
        }
        .nav-btn {
            visibility: visible;
            opacity: 1;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: $font-mid;
            color: $midYellow;
        }
        .responsive-nav {
            transform: none;
            padding-top: 2rem;
            .nav-btn {
                font-size: $font-big;
            }
        }
}

.navbar {
    position: absolute;
    transform: translateY(-100vh);
    transition: .6s;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $darkYellow;
}

.nav-link {
    font-size: $font-mid;
    padding: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $darkBlue;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.active {
    color: $darkYellow;
}

.phone-container {
    height: 100%;
    width: 55%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    div {
        border: none;
        font-size: $font-small;
        animation: pulse 1.5s infinite;
        background-color: transparent;
    }
    h3 a {
        text-decoration: none;
        // color: #ffff;
        font-size: $font-regular;
    }
}

.phone-icon {
//    color: #ffff;
   margin-right: .5rem;
   background-color: transparent;
}

#nav-close-btn {
    color: $midBlue;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: $font-big;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
  }

@media only screen and (min-width: 768px) {
    .nav-header {
        z-index: 99;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 60%;
        width: 40%;
        padding-left: 5%;

        .responsive-nav {
            padding-top: 0rem;
        }
        .nav-btn {
            visibility: hidden;
            opacity: 0;
        }
    }

    .navbar {
        background-color: $midBlue;
        position: fixed;
        z-index: 100;
        transform: none;
        top: 0;
        left: 40%;
        height: 7vh;
        width: 60%;
        padding-right: 10%;
        display: flex;
        flex-flow: row nowrap;
    }

    .nav-link {
        cursor: pointer;
        font-size: 1rem;
        padding: 2rem;
    }
}