@import "../../Styles/Variables.scss";

.brands-container {
    @include flex-column-center($justify: flex-start);
    @include standard-font(); 
    color: $yellow;
    background-color: $darkBlue;
    min-height: 100vh;
    height: auto;
    padding: 10vh 0%;
    width: 100%;
    font-size: $font-regular;
    .brands-container_list {
        color: $lightGray;
        text-align: left;
        width: 90%;
        padding-top: 5%;
    }
}

@media screen and (min-width: 600px) {
    .brands-container {
        .brands-container_list {
            font-size: $font-mid;
        }
    }
}