@import "../../Styles/Variables.scss";

.reference-container {
    > div:first-child {
        width: 80%;
        padding: 1rem;
        border-radius: 1rem;
        background-color: #fff;
        position: relative;
        margin-top: 10%;
    }
    div:first-child:before {
        content: '';
        position: absolute;
        bottom: 3%;
        left: 25%;
        width: 0;
        height: 0;
        border: 25px solid transparent;
        border-top-color: #fff;
        border-bottom: 0;
        border-left: 0;
        margin-left: -12.5px;
        margin-bottom: -25px;
        }
    .reference-btm-text{
        margin-top: 13%;
        margin-left: 10%;
        color: #fff;
        line-height: 50%;

        .reference-name {
            font-weight: 900;
        }
    }
}

.reference-container:nth-child(2) {
    > div:first-child {
        width: 80%;
        padding: 1rem;
        border-radius: 1rem;
        background-color: #fff;
        position: relative;
        margin-top: 10%;
    }
    div:first-child:before {
        content: '';
        position: absolute;
        bottom: 3%;
        left: 75%;
        width: 0;
        height: 0;
        border: 25px solid transparent;
        border-top-color: rgb(255, 255, 255);
        border-bottom: 0;
        border-right: 0;
        margin-right: -12.5px;
        margin-bottom: -25px;
        }
    .reference-btm-text{
        text-align: end;
        margin-top: 13%;
        margin-right: 10%;
        color: #fff;
        line-height: 50%;

        .reference-name {
            font-weight: 900;
        }
    }
}
    
