@import "../../Styles/Variables.scss";

.blog-list__container{
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    .blog-list__item{
        width: 90%;
        padding: 5%;
        background-color: $lightGray;
        border-radius: $radius;
        display: flex;
        flex-flow: row nowrap;
        .blog-list__img{
            display: block;
            width: 30%;
            height: auto;
            margin-right: 2%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .blog-list__text{
            
            div:first-child{
                color: black;
            }
            .blog-list__text-info{
                @include standard-font-light();
                display: flex;
                justify-content: flex-end;
                
                text-transform: lowercase;
                font-size: $font-small;
                color: rgb(202, 39, 102);
                p {
                    margin-left: 5%;
                }
            }
        }
    }
}
